<html>
  <head>
    <title>r/Place - About</title>

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="favicon/site.webmanifest" />

    <!-- Meta tags -->
    <meta name="title" content="VLC Board" />
    <meta
      name="description"
      content="Work together to create something amazing. Join thousands of other students and see what happens when you share one huge canvas."
    />
    <meta name="keywords" content="VLC Board" />
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="author" content="Ibrahim Siddique" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/about.css" />
  </head>

  <body>

  </body>
</html>
