<html>

<head>
  <title>VLC Board</title>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png" />
  <link rel="manifest" href="favicon/site.webmanifest" />

  <!-- Meta tags -->
  <meta name="title" content="VLC Board" />
  <meta name="description"
    content="Work together to create something amazing. Join hundreds of other students and see what happens when you share one huge canvas." />
  <meta name="keywords" content="VLC Board" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/board.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

  <!-- Load Libraries -->
  <script src="js/googleSignin.js"></script>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <div id="g_id_onload" data-client_id="421353515798-d0s48fr2undoapir896fjhgvl45vtbji.apps.googleusercontent.com"
    data-context="signin" data-ux_mode="popup" data-callback="handleCredentialResponse"
    data-auto_prompt="false">
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://polyfill.io/v3/polyfill.js?features=default"></script>

  <!-- JS -->
  <script src="js/board/index.js" defer></script>
  <script src="js/board/camera.js" defer></script>
  <script>
    const googleClientId = "<%- googleClientId %>";
  </script>
</head>

<body>
  <div class="sidebar">
    <div class="info">
      <img class="logo" src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/47058/artist-palette-emoji-clipart-xl.png" alt="VLC Board" />
      <h1>VLC Board</h1>
      <div class="links">
        <a href="/about" target="_blank">About</a>
        <a href="https://github.com/TheRedstoneRadiant/VLC-r-Place" target="_blank">Github</a>
      </div>
    </div>
    <div id="owner"></div>
    <div id="colors">
      <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="filled_black"
        data-text="signin_with" data-size="medium" data-logo_alignment="left">
      </div>
    </div>
  </div>

  <div id="container">
    <p id="pixel"></p>
    <div id="zoom-container">
      <canvas height="500" width="500" id="board"></canvas>
    </div>
  </div>

  <div class="center">
    <p id="placePixel" onclick="placePixel(event)"><i class="fa-sharp fa-solid fa-check"></i></p>
  </div>
</body>

</html>