<html>
    <head>
        <title>r/Place - Board</title>
        <link rel="stylesheet" type="text/css" href="css/board.css">
        <script src="js/board/index.js" defer></script>
        <script src="js/board/camera.js" defer></script>
        <script>
            const pixelArray = <%- pixelArray %>;
        </script>
    </head>

    <body>
        <div id="container">
            <p id="pixel"></p>
            <div id="zoom-container">
                <canvas width="1000" height="1000" id="board"></canvas>
            </div>
        </div>

        <div id="colors">
        </div>
    </body>
</html>