<html>
    <head>
        <title>r/Place - Dashboard</title>
        <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    </head>

    <body>
        <div class="top">
            <h1 class="title">Welcome, Ibrahim</h1>
            <span class="time">You can place your next pixel in 8:15</span>
        </div>
        <div class="middle">
            <div>
                <h1>Board</h1>
                <img class="board" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpixnio.com%2Ffree-images%2F2017%2F09%2F26%2F2017-09-26-10-09-27.jpg&f=1&nofb=1">
            </div>
            <div class="recent">
                <h1>Recent Pixels</h1>
                <ul>
                    <li><div class="pixel"></div>(35, 11) placed by Ahsen Khan at 5:15 PM</li>
                    <li><div class="pixel"></div>(35, 11) placed by Ahsen Khan at 5:15 PM</li>
                    <li><div class="pixel"></div>(35, 11) placed by Ahsen Khan at 5:15 PM</li>
                    <li><div class="pixel"></div>(35, 11) placed by Ahsen Khan at 5:15 PM</li>
                    <li><div class="pixel"></div>(35, 11) placed by Ahsen Khan at 5:15 PM</li>
                    <li><div class="pixel"></div>(35, 11) placed by Ahsen Khan at 5:15 PM</li>
                </ul>
            </div>
        </div>
    </body>
</html>