<html>
    <head>
        <title>VLC r/Place</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="js/index.js" defer></script>
        <script>
            const pixelArray = <%- pixelArray %>;
        </script>
    </head>

    <body>
        <canvas width="1000" height="1000" id="board"></canvas>
    </body>
</html>