<html>
    <head>
        <title>r/Place - Login</title>
        <link rel="stylesheet" type="text/css" href="css/login.css">
        <script src="https://apis.google.com/js/api:client.js"></script>
        <script src="js/login/login.js"></script>
    </head>

    <body>
        
    </body>
</html>