@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #2c2f33;
  overflow: hidden;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.sidebar {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 200px;
  height: 100%;
}

.sidebar>div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info {
  height: 200px;
  display: flex;
  flex-direction: column;
}

.info>h1 {
  margin: 0;
}

.info>img {
  height: 120px;
}

.links {
  width: 150px;
}

.links>a {
  text-decoration: unset;
  display: inline-block;
  position: relative;
  color: black;
}

.links>a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.links>a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logo {
  height: 50px;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#board.dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

canvas {
  background-color: white;
  border: 1.2px solid black;
  image-rendering: pixelated;
}

#colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.g_id_signin {
  margin-bottom: 10px;
}

#colors>input[type="radio"] {
  margin: 4px;
  appearance: none;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  transition: all 0.2s;
}

#colors>input[type="radio"]:hover {
  cursor: pointer;
}

#colors>input[type="radio"]:checked {
  opacity: 0.7;
}

#pixel {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: absolute;
  top: -50;
  z-index: 99999999;
  width: 60px;
  height: 25px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  transition: 1s all;
}

#pixel.show {
  top: 10;
}

#placePixel {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: absolute;
  bottom: -80;
  z-index: 99999999999;
  width: 60px;
  height: 25px;
  background-color: white;
  border-radius: 15px;
  transition: 1s all;
  display: flex;
  justify-content: center;
  align-items: center;
}

#placePixel.show {
  bottom: 10;
}

#placePixel.enabled {
  cursor: pointer;
}

.center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#owner {
  display: flex;
  flex-direction: column;
}

#owner>img {
  width: 150px;
}

#error-box {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.error-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 400px;
  height: 200px;
  /* Could be more or less, depending on screen size */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.error-top {
  height: 50px;
}

.close {
  margin-left: auto;
  cursor: pointer;
  border: none;
  background-color: red;
  width: 80px;
  height: 40px;
  color: white;
  font-weight: 700;
  font-size: 17px;
}
