@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

.title {
    font-weight: normal;
    margin: 0;
}

.time {
    font-size: 15px;
}

.top {
    padding: 20px;
    position: absolute;
    z-index: 1;
}

.middle {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.middle > div {
    height: 500px;
    padding: 100px;
}

.middle > div > h1 {
    font-weight: normal;
}

.recent > ul {
    list-style-type: none;
    padding: 0;
    font-size: x-large;
    font-family: monospace;
}

.board {
    width: 500px;
}